In [1]:

import pandas as pd

# Reading data from csv file
data = pd.read_csv('data4.csv', header=None)
test = pd.read_csv('test4.csv',header=None)

data.head()

   0  1  2  3  4  5  6  7  8
0  1  1  1  1  1  1  0  1  1
1  1  1  1  1  1  1  0  0  1
2  1  1  1  1  1  1  1  1  0
3  1  1  1  1  1  0  0  1  1
4  1  1  1  1  1  0  0  0  1

In [2]:
data.shape

(20, 9)

In [3]:
test

   0  1  2  3  4  5  6  7
0  0  1  1  1  1  1  1  1
1  1  0  0  0  0  0  0  0
2  0  1  1  0  1  0  0  0
3  0  1  1  1  1  0  0  0

In [4]:
def split_features_classes(dataframe):
    features = dataframe.iloc[:, :-1]
    classes = dataframe.iloc[:, -1]
    return features, classes

In [5]:
train_features, train_classes = split_features_classes(data)
test_features, test_classes = split_features_classes(test)

In [6]:
import math

def euclidean_distance(first_object, second_object):
    distance = 0
    num_of_features = len(first_object)
    for f in range(num_of_features):
        num_features_test = len(second_object)
        for i in range(num_features_test):
            distance += pow((first_object[f] - second_object[i]), 2)

    return math.sqrt(distance)

In [7]:
import numpy as np

def get_nearest_neighbours(train_features, focus_object, k):
    distances = []
    num_of_features = len(focus_object)
    for train_object in train_features.values:
        distance = euclidean_distance(train_object, focus_object)
        distances.append(distance)
    return np.argsort(distances[:k])

In [8]:
def get_majority_class(k_nearest_neighbours):
    votes = {}
    for neighbour in k_nearest_neighbours:
        neighbour_class = test_classes.iloc[neighbour]
        if neighbour_class in votes:
            votes[neighbour_class] += 1
        else:
            votes[neighbour_class] = 1
    votes = sorted(votes, reverse = True)
    return votes[0]

In [9]:
num_test_samples = len(test_features)
predicted_classes = []
for i in range(num_test_samples):
    test_object = test_features.iloc[i]
    k_nearest_neighbours = get_nearest_neighbours(train_features, test_object, 3)
    predicted_class = get_majority_class(k_nearest_neighbours)
    predicted_classes.append(predicted_class)

In [10]:
predicted_classes

[1, 1, 1, 1]

In [11]:
f = open('jerome_paulraj_4.out','w+')
for val in predicted_classes:
    f.write('{0} '.format(str(val)))
f.close()

In [12]:
#def calc_accuracy(test_classes, predicted_classes):
#    correct = 0
#    number_of_samples = len(test_classes)
#    for i in range(number_of_samples):
#        if test_classes.iloc[i] == predicted_classes[i]:
#            correct += 1
#    return correct/number_of_samples
#accuracy = calc_accuracy(test_classes, predicted_classes)
#accuracy